<app-header [title]="Inputpokemon ? 'Actualizar pokemon' : 'Añadir pokemon'" [isModal]="true"></app-header>
<ion-content>
  <div class="pokemon">
    <div class="pokemon_info">
      <div class="currentPokemon">
        <div class="poke_selector">
          <div class="search_poke">
            <div class="name_poke">
              <input
                type="text"
                placeholder="Buscar Pokémon"
                id="search_input"
                [(ngModel)]="searchInput"
              />
              <button (click)="search($event)"><img src="assets/lupa.png" alt="Buscar"></button>
            </div>
          </div>
          <div class="sprite_poke">
            <button class="left" (click)="previousPokemon($event)"><img class="arrow" src="assets/arrow_left.png" alt="Anterior" ></button>
            <div class="poke-img">
              <img *ngIf="currentPokemon.shiny" src="assets/shiny.png" class="shiny-overlay" />
              <img [src]="getPokemonImage(currentPokemon.idPoke, currentPokemon.shiny)" class="sprite"/>
            </div>
            <button class="right" (click)="nextPokemon($event)"><img class="arrow" src="assets/arrow_right.png" alt="Siguiente"></button>
          </div>
        </div>
        <div class="poke_info">
          <form (ngSubmit)="submit()">
            <div class="poke_name">
              <span>Nombre: </span>
              <input type="text" [(ngModel)]="currentPokemon.name" name="pokemonName"/>
            </div>
            <div class="poke_shiny">
              <span>Shiny: </span>
              <input type="checkbox" [(ngModel)]="currentPokemon.shiny" name="pokemonShiny" class="shiny_input"/>

            </div>
            <ion-button
              mode="ios"
              class="submit_btn"
              type="submit"
              [disabled]="form.valid"
            >{{Inputpokemon ? 'Actualizar' : 'Añadir'}}
              <ion-icon slot="end" name="body-outline"></ion-icon>
            </ion-button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-content>
