@import './pokedex.pages.types';
.pokedex {
  border-radius: 20%;

}
.page ion-content, .page ion-list, .page ion-item-sliding, .page ion-item, .page item-nattive {
  --background: transparent;
}
.page {
  --background: repeating-linear-gradient(
      0deg,
      #79a0e3 0px,
      #79a0e3 10px,
      #668cd7 10px,
      #668cd7 50px,
      #79a0e3 50px,
      #79a0e3 60px,
      #5576c5 60px,
      #5576c5 90px,
      #79a0e3 90px,
      #79a0e3 100px,
      #4c69b8 100px,
      #4c69b8 140px,
      #79a0e3 140px,
      #79a0e3 150px,
      #4660b4 150px,
      #4660b4 160px,
      #79a0e3 160px,
      #79a0e3 170px,
      #5576c5 170px,
      #5576c5 190px
  ) !important;
}
/* DIBUJAR POKEDEX*/
.top_pokedex {
  border-radius: 20px 20px 0 0;
  background: #BD1023;
  height: 100px;
  position: relative;

}
.pokeball_top {
  background: linear-gradient(to right, #BAE5F3, #B3E2EF);
  width: 100px;
  height: 50px;
  border-radius: 75px 75px 0 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.top_pokedex::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 200px;
  height: 100px;
  background: #BD1023;
  border-radius: 0 0 100px 100px;
  transform: translateX(-50%);
}

.bottom_pokedex {
  border-radius: 0 0 20px 20px ;
  background: #BD1023;
  height: 100px;
  position: relative;
}

.pokeball_bottom {
  background: #89CFDB;
  width: 100px;
  height: 50px;
  border-radius: 0 0 75px 75px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.bottom_pokedex::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 200px;
  height: 100px;
  background: #BD1023;
  border-radius: 100px 100px 0 0;
  transform: translateX(-50%);
}

.center_pokedex {
  background: radial-gradient(circle at top left, #c5eaf8, #89CFDB);
  padding: 20px;
  text-align: center;
}
/* RECUADRO CON LOS DATOS DEL POKEMON */
.pokemon {
  width: 100%;
  display: flow;
  color: black;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);

}

.name_poke {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: capitalize;
  color: #0037a2;
  background: #bfc3ce;
  padding: 10px;
}

.name_poke input {
  flex: 1;
  padding: 5px;
  margin-right: 10px;
  color: black;
  background: #83a8f1;
  border: #0037a2 2px solid;
  border-radius: 20px;
  width: 50%;
}

.name_poke button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  background: #59a5fc;
  border-radius: 10px;
  padding: 5px;
}
.name_poke button img {
  width: 30px;

}
.content {
  width: 100%;
  background-color: #d3ecf6;
  background-image: linear-gradient(45deg, #c4e8f8 25%, transparent 25%, transparent 75%, #c4e8f8 75%, #c4e8f8), linear-gradient(-45deg, #c4e8f8 25%, transparent 25%, transparent 75%, #c4e8f8 75%, #c4e8f8);
  background-size: 20px 20px;
  font-size: larger;
  display: grid;
  grid-template-areas: "img_poke types_poke"
                       "img_poke sizes_poke";
  grid-template-columns: 1.2fr 0.8fr;
  padding: 20px;
}

.poke-img {
  position: relative;
  background-color: #d3ecf6;
  background-image: linear-gradient(45deg, #c4e8f8 25%, transparent 25%, transparent 75%, #c4e8f8 75%, #c4e8f8), linear-gradient(-45deg, #c4e8f8 25%, transparent 25%, transparent 75%, #c4e8f8 75%, #c4e8f8);
  background-size: 20px 20px;
  grid-area: img_poke;
  padding: 0;
  justify-items: center;
  border: #67bcea 5px solid;
  border-radius: 10%;

}

.poke-img img {
  width: 100%;
  border-radius: 10%;
  background: repeating-linear-gradient(
      to bottom,
      #f5f7f9,
      #f5f7f9 15px,
      #c9e2f4 15px,
      #c9e2f4 25px
  );
}

.poke-img .shiny_btn {
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 20%;
  pointer-events: auto;
  border-radius: 50%;

}

.poke-img .shiny_btn img {
  width: 50px;
  height: 50px;
  background: none;
}



.content .types_poke {
  grid-area: types_poke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;

}

.content .types_poke .type {
  background: #004acd;
  color: white;
  font-size: 1.2em;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px;
  display: inline-block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}


.sizes_poke {
  grid-area: sizes_poke;
  padding-bottom: 20px;
  display: grid;
  padding-left: 20px;

}
.sizes_poke .size {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #67bcea;
  border-radius: 10px;
  color: #f0fbff;
  text-align: center;
  padding: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.sizes_poke .size span {
  margin-right: 10px;
  font-weight: bold;
  color: #0037a2;
}

.sizes_poke .size a {
  color: #f0fbff;
}


.alternate_poke {
  grid-area: alternates;
  width: 100%;
  background: repeating-linear-gradient(0deg, #cce486, #cce486 2px, #bfd678 2px, #bfd678 4px);  background-size: 20px 20px;
  font-size: larger;
  padding: 10px;
}

.alternate_poke button {
  background: #006400;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 5px #0003;
  margin-top: 1%;
  margin-bottom: 5%;
  font-size: 1em;
  border-radius: 20px;
  padding: 10px;
}

.alternate_poke button p {
  border-radius: 20px;
  padding: 0;
}
.description_poke {
  border-radius: 10%;
  font-size: 1.2em;
  height: 70%;

  background-color: #f8f7db;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  box-shadow: 0 2px 5px #0003;
}
.description_poke p {
  border-radius: 10px;
  height: 70%;
  margin: 5px;

}

.stats_poke {
  border-radius: 10px;
  padding: 10px;
  background-color: #f8f7db;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  box-shadow: 0 2px 5px #0003;
}

.stats_poke .stat {
  background-color: #67bcea;
  border-radius: 10px;
  color: #f0fbff;
  font-size: 1.2em;
  text-align: center;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.stats_poke .stat span {
  font-weight: bold;
  color: #0037a2;
}



@media
  (max-width: 500px) {
    .content {
      grid-template-areas: "img_poke"
                           "types_poke"
                           "sizes_poke";
      grid-template-columns: 1fr;
    }
    .content .types_poke {
      justify-content: center;
    }
    .sizes_poke {
      padding-left: 0;
    }
    .description_poke {
      grid-template-columns: 1fr;
    }
    .stats_poke {
      grid-template-columns: 1fr;
    }
}


@keyframes scale-up-horizontal-center {
  0% {
    transform: scaleX(0.2);
  }
  100% {
    transform: scaleX(1);
  }
}

.scale-up-horizontal-center {
  animation: scale-up-horizontal-center 0.4s;
}



