<app-header [showMenuButton]="true" title="Pokedex"></app-header>
<ion-content class="ion-padding" color="light">
  <div class="pokedex">
    <div class="top_pokedex"><div class="pokeball_top"></div></div>
    <div class="center_pokedex">
      <div class="pokemon">
        <div class="name_poke">
          <input
            type="text"
            placeholder="Buscar Pokémon"
            id="search_input"
            [(ngModel)]="searchInput"
          />
          <button (click)="search($event)"><img src="assets/lupa.png" alt="Buscar"></button>
        </div>

        <div class="content">
          <div class="img_poke">

            <img [src]="selectedPokemon?.sprites?.front_default" alt="Foto del Pokémon" *ngIf="selectedPokemon?.sprites?.front_default"/>
          </div>
          <div class="types_poke">
            <span
              *ngFor="let tp of selectedPokemon?.types ?? []"
              [ngClass]="getTypeClass(tp.name)"
            >{{ tp.name }}</span>
          </div>
          <div class="sizes_poke">
            <div class="size">
              <span class="tag">Altura: </span>
              <a>{{ (selectedPokemon?.height ?? 0) / 10 | number : "1.1-1" }} m</a>
            </div>
            <div class="size">
              <span class="tag">Peso: </span>
              <a>{{ (selectedPokemon?.weight ?? 0) / 10 | number : "1.1-1" }} kg</a>
            </div>
          </div>
        </div>

        <div class="alternate_poke">
          <button (click)="alternate($event)" id="alternate_btn">{{ buttonText }}</button>
          <div class="description_poke" *ngIf="showDetails">
            <div class="_ngcontent-cet-c7"></div>
            <p>{{ selectedPokemon?.description }}</p>
            <div class="_ngcontent-cet-c7"></div>
          </div>
          <div class="stats_poke" *ngIf="showStats">
            <div class="stat">
              <span class="tag">HP:</span> {{ selectedPokemon?.stats?.hp }}
            </div>
            <div class="stat">
              <span class="tag">Speed:</span> {{ selectedPokemon?.stats?.speed }}
            </div>
            <div class="stat">
              <span class="tag">Attack:</span> {{ selectedPokemon?.stats?.attack }}
            </div>
            <div class="stat">
              <span class="tag">Defense:</span> {{ selectedPokemon?.stats?.defense }}
            </div>
            <div class="stat">
              <span class="tag">Special Attack:</span> {{ selectedPokemon?.stats?.specialAttack }}
            </div>
            <div class="stat">
              <span class="tag">Special Defense:</span> {{ selectedPokemon?.stats?.specialDefense }}
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="bottom_pokedex"><div class="pokeball_bottom"></div></div>

  </div>
</ion-content>
