/* =======    cambiar fondo dependiendo del tipo    ======= */
.content .types_poke .type.bug {
  background: linear-gradient(135deg, #a8b820, #6d7815);
  color: white;
}

.content .types_poke .type.dragon {
  background: linear-gradient(135deg, #7038f8, #4924a1);
  color: white;
}

.content .types_poke .type.fire {
  background: linear-gradient(135deg, #f08030, #c03028);
  color: white;
}

.content .types_poke .type.fairy {
  background: linear-gradient(135deg, #ee99ac, #d685ad);
  color: white;
}

.content .types_poke .type.ghost {
  background: linear-gradient(135deg, #705898, #493963);
  color: white;
}

.content .types_poke .type.ground {
  background: linear-gradient(135deg, #e0c068, #927d44);
  color: white;
}

.content .types_poke .type.normal {
  background: linear-gradient(135deg, #a8a878, #6d6d4e);
  color: white;
}

.content .types_poke .type.psychic {
  background: linear-gradient(135deg, #f85888, #a13959);
  color: white;
}

.content .types_poke .type.steel {
  background: linear-gradient(135deg, #b8b8d0, #787887);
  color: white;
}

.content .types_poke .type.dark {
  background: linear-gradient(135deg, #705848, #49392f);
  color: white;
}

.content .types_poke .type.electric {
  background: linear-gradient(135deg, #f8d030, #a1871f);
  color: black;
}

.content .types_poke .type.fighting {
  background: linear-gradient(135deg, #c03028, #7d1f1a);
  color: white;
}

.content .types_poke .type.flying {
  background: linear-gradient(135deg, #a890f0, #6d5e9c);
  color: black;
}

.content .types_poke .type.grass {
  background: linear-gradient(135deg, #78c850, #4e8234);
  color: white;
}

.content .types_poke .type.poison {
  background: linear-gradient(135deg, #a040a0, #682a68);
  color: white;
}

.content .types_poke .type.ice {
  background: linear-gradient(135deg, #98d8d8, #638d8d);
  color: black;
}

.content .types_poke .type.water {
  background: linear-gradient(135deg, #6890f0, #445e9c);
  color: white;
}

.content .types_poke .type.rock {
  background: linear-gradient(135deg, #b8a038, #786824);
  color: white;
}
