<app-header [showMenuButton]="true" title="Inicio"></app-header>

<ion-content class="page-home">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="!loading" class="pokemon-grid">
    <ion-item-sliding *ngFor="let poke of pokemons">
      <ion-item>
        <div class="pokemon">
          <div class="poke-img">
            <img *ngIf="poke.shiny" src="assets/shiny.png" class="shiny-overlay" />
            <img [src]="getPokemonImage(poke.idPoke, poke.shiny)" class="sprite"/>
          </div>
          <div class="poke-info">
            <h2>{{ poke.name }}</h2>
            <div class="poke-actions">
              <ion-item-option (click)="addUpdatePokemon(poke)" class="update">
                <ion-icon class="option-btn" name="create-outline"></ion-icon>
              </ion-item-option>
              <ion-item-option (click)="confirmDeletePokemon(poke)" class="delete">
                <ion-icon class="option-btn" name="trash-outline"></ion-icon>
              </ion-item-option>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-list *ngIf="loading">
    <ion-item *ngFor="let i of [1,1,1,1,1,1,1,1]" class="poke-item">
      <ion-avatar slot="start">
        <ion-skeleton-text
          animated
          style="width: 100%; height: 100%"
        ></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <div>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </div>
        <div>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>

  <div *ngIf="!loading && pokemons.length === 0 " class="empty">
    <p>Aún no has agregado ningun pokemon</p>
    <img src="assets/error.webp" alt="Imagen de error">
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="fab" (click)="addUpdatePokemon()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
