<app-header title="Perfil" [showMenuButton]="true"></app-header>
<ion-content class="ion-padding-top ion-text-center page">
  <div class="content">
    <ion-avatar>
      <img *ngIf="user.image" [src]="user.image" />
      <ion-icon *ngIf="!user.image" class="empty-icon" name="person-circle-outline"></ion-icon>
    </ion-avatar>
    <ion-button class="photo-btn" (click)="takeImage()" size="small" shape="round" mode="ios">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-button>

    <div class="nameInput">
      <ion-input type="text" placeholder="Nombre" [(ngModel)]="user.name" ></ion-input>
    </div>

  <div class="save">
    <button (click)="save($event)">Guardar</button>
  </div>
  </div>
</ion-content>
